---
openapi: 3.0.3
info:
  title: Get information about a Public IP
  version: 1.0.0
  description: From a simple public IP you can get geographical information such as the City and Country
security:
  - BasicAuth: []
servers:
  - url: https://api.gcp.cointet.com
    description: Production server (uses live data)
paths:
  /locate:
    get:
      summary: Get all the information about a public IP
      description: |
        Upon successful execution, returns a all known information about a public IP. 

        The API will also give a photo to illustrate the nearest city found.
    parameters:
      - name: ip
        description: The Public IP
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/ip'
      responses:
        "200":
          description: "Public IP Information found"
          content:
            application/json:
              schema:
                type: object
                properties:
                  country:
                    type: string
                    example: "United States"
                  regionName:
                    type: string
                    example: "California"
                  city:
                    type: string
                    example: "Mountain View"
                  ip:
                    type: string
                    example: "35.203.250.229"
                  photo:
                    type: string
                    example: "https://maps.googleapis.com/maps/"
              
        "500":
          description: "Generic 500 error"
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
